#header {
   background: var(--white);
   border-bottom: 1px solid var(--gray-100);

   .headerContainer {
      display: flex;
      align-items: center;
      padding: 1.5rem 0rem;

      span {
         margin-left: auto;
         text-transform: capitalize;
      }
   }
}

.infoHeader {
   display: flex;
   align-items: center;
   gap: 2rem;

   .separator {
      width: 2px;
      height: 2rem;
      background: var(--gray-100);
   }
}

@media (max-width: 640px) {
   .headerContainer {
      .infoHeader {
         flex: 3;
         flex-direction: column;
         align-items: flex-start;
         gap: 1rem;

         .separator {
            display: none;
         }
      }

      span{
         flex: 1;
         align-self: flex-end;
         text-align: right;
      }
   }
}
